body {
    font-size: 10%;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    display: block;
    width: 100%;
    /*80px*/
    height: 9.9%;
    position: fixed;
    /*-20px 0 0 -8px*/
    margin: -1.4% 0 0 -0.55%;
    background-color: #3F51B5;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 3px 5px 0px;
    z-index: 100;
}

.header h1 {
    font-weight: 200;
    font-size: 25em;
    margin-top: 1.6%;
}

progress {
    position: fixed;
    left: 0;
    /*68px*/
    top: 8.5%;
    width: 100%;
    /*5px*/
    height: 0.55%;
    z-index: 110;
    /*0px 3px 5px 0px*/
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0.21% 0.35% 0px;
    -webkit-appearance: none;
    display: none;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: red;
}

.left {
    float: left;
    height: 100%;
    /*200px*/
    width: 13.9%;
    position: fixed;
    /*60px 0 0 -8px*/
    margin: 4.17% 0 0 -0.56%;
    background-color: #F5F5F5;
    z-index: 100;
}

.menu {
    display: inline-block;
    float: left;
    clear: left;
    /*10px 0 0 5px*/
    margin: 0.5% 0 0 0.2%;
    /*0 20px 5px 10px*/
    padding: 0 1.4% 0.35% 0.5%;
    position: fixed;
    /*180px*/
    width: 12.5%;
}

.menu h2 {
    font-weight: 300;
    /*10px*/
    margin-top: 7%;
    font-size: 15em;
}

.menu ul {
    padding: 0;
    list-style: none;
}

.menu ul a {
    display: block;
    font-weight: 200;
    /*10px 5px 0 0*/
    padding: 5% 0.35% 0 0;
    text-decoration: none;
    /*2px*/
    margin-left: 0.14%;
    color: black;
    opacity: 0.54;
    font-size: 8.5em;
}

.menu ul a:hover {
    opacity: 1!important;
}

.menu ul a:active {
    color: darkblue;
    opacity: 0.54;
}

.menu ul a:first-child {
    color: blue;
    opacity: 1;
}

#nav {
    float: left;
    /*300px*/
    height: 33.3%;
    /*180px*/
    width: 12.5%;
    /*7px*/
    margin-left: 0.45%;
    display: none;
    position: fixed;
    font-size: 7.5em;
    /*80px*/
    bottom: 14%;
    /*-10px*/
    padding-top: -1.1%;
    border-top: 2px solid grey;
}

#navList {
    /*0 0 0 20px*/
    padding-left: 10%;
}

#navList li a {
    text-decoration: none;
}

.copyright {
    /*140px*/
    width: 9.7%;
    height: auto;
    display: inline-block;
    float: left;
    position: fixed;
    bottom: 0;
    /*20px*/
    margin-left: 1.39%;
    /*12px*/
    font-size: 7em;
    opacity: 0.54;
}

.content {
    display: inline-block;
    height: auto;
    float: right;
    width: 80%;
    /*50px 5% 50px 0*/
    margin: 5% 5% 0 0;
    font-size: 10em;
}

.content p,
li,
a,
h2,
h3 {
    opacity: 0.87;
}

.help {
    cursor: help;
    border-bottom: 1px dotted grey;
}

.content .anchor {
    display: block;
    position: relative;
    /*-80px*/
    top: -80px;
    visibility: hidden;
}

.content .container > div:not(#ch0) {
    display: none;
}

.codeOut {
    height: 20%;
    width: 40%;
    display: inline-block;
    float: right;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 3px 5px 0px;
    background-color: white;
}

.codeOut p {
    /*2px*/
    margin: 1%;
}
